.fondo{
    background-image: url("imagenes/personas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.alineacion-imagen{
    width: 400px;
    height: 380px;
    margin: auto;
}
.container-fondo{
    background-color: rgba(0, 255, 115, 0.459);
}